@model DataLayer.ResidenceType

@{
    ViewBag.Title = "Delete";
}

<h2>حذف</h2>

<h3>آیا از حذف "@Model.ResidenceKind"مطمئن هستید؟</h3>
<div>
    
    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResidenceKind)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidenceKind)
        </dd>

    </dl>*@

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" /> 
          
        </div>
    }
</div>
