<section class="ftco-section-2">
    <div class="container-fluid d-flex">
        <div class="section-2-blocks-wrapper row no-gutters">
            <div class="img col-sm-12 col-lg-6" style="background-image: url('../../images/tour-1.jpg');">
                @*<a href="https://vimeo.com/45830194" class="button popup-vimeo"><span class="ion-ios-play"></span></a>*@
            </div>
            <div class="text col-lg-6 ftco-animate">
                <div class="text-inner align-self-start">

                    <h3>سفر به هر جای ایران </h3>
                    <p style="font-size: 20px">
                        شرکت خدمات مسافرت هوایی رها فعالیت خود را از سال 1398 آغاز نموده است، در این سال ها همیشه رضایت کامل مسافران را مهمترین هدف خود قرار داده و با ارائه خدماتی با کیفیت و نو به مسافران و آژانس های همکار، توانسته در این صنعت پیشرو باشد. از طرفی با استقبال بالای مسافران به سرعت مسیرهای پروازی به نحوی گسترش پیدا کرده که امروزه در اکثر مسیرهای اصلی دارای بالاترین ظرفیت پروازی می باشد.

                        شرکت خدمات مسافرت هوایی آسمان می کوشد تا همیشه بهترین خدمات را ارائه نماید و با بکارگیری نظرات سازنده اعضا و برقراری پایه های ارتباطی نوین با اعضا، کارگزاران، خطوط هوایی و راهنمایان، در مسیر هدف نهایی خود گام بردارد. ما هر چالش را فرصتی می دانیم و باور داریم جایگاه ما به عنوان شناخته شده ترین پیشگام در صنعت گردشگری به خوبی تثبیت شده است
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
