@model IEnumerable<DataLayer.Residence>

<div class="col-lg-8">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6 col-lg-6 mb-4 ftco-animate">
                <a href="#" class="block-5" style="background-image: url('/ResidenceImages/@item.Image');">
                    <div class="text">
                        <span class="price">@item.Price</span>
                        <h3 class="heading">@item.ResidenceType.ResidenceKind</h3>
                        @*<div class="post-meta">
                            <span>Ameeru Ahmed Magu Male’, Maldives</span>
                        </div>
                        <p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span> <span>500 reviews</span></p>*@
                    </div>
                </a>
            </div>
        }
       
    </div>
    <div class="row mt-5">
        <div class="col text-center">
            <div class="block-27">
                <ul>
                    <li><a href="#">&lt;</a></li>
                    <li class="active"><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&gt;</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
