@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">قفل </h1>
    <h2 class="text-danger">این حساب کاربری قفل شده است.لطفا بعدا تلاش کنید.</h2>
</hgroup>
