@{
    ViewBag.Title = "ارسال ایمیل فعالسازی حساب کاربری";
    Layout = "~/Views/Shared/_LayoutRegLog.cshtml";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    لطفا ایمیل خود را چک و حساب کاربری را تایید کنید
</p>
@*<p class="text-danger">
    For DEMO only: You can click this link to confirm the email: <a href="@ViewBag.Link">لینک</a>
    Please change this code to register an email service in IdentityConfig to send an email.
</p>*@
<p><a href="@ViewBag.Link">لینک فعالسازی حساب کاربری</a></p>