@{
    ViewBag.Title = "تایید بازیابی کلمه عبور";
    Layout = "~/Views/Shared/_LayoutRegLog.cshtml";
}


<div class="col-lg-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1>@ViewBag.Title.</h1>
        </div>
        <div class="panel-body">
            <p>
                لطفا ایمیل خود را برای بازیابی کلمه عبور چک کنید
            </p>
        </div>
        <div class="panel-footer">
             <p><a href="@ViewBag.Link" class="btn btn-info">لینک بازیابی کلمه عبور</a></p>

        </div>
    </div>
</div>




@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
       لطفا ایمیل خود را برای بازیابی کلمه عبور چک کنید
    </p>
  
    <p><a href="@ViewBag.Link">لینک بازیابی کلمه عبور</a></p>
</div>*@

