
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_LayoutSearchFlight.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>پرداخت</title>
</head>
<body>
    <div>
        @ViewBag.Error
    </div>
</body>
</html>


